<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/curator-profil.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <title>Document</title>
  </head>
  <body class="stop-animation">
    <main class="main-content">
      <div class="container">
        <div class="input-group">
          <div class="message"><h1>Ваша група</h1></div>
          <select name="groups" class="group-select">
            <!-- <option value="p-33" selected>П-33</option> -->
          </select>
        </div>
        <div class="card-box">
          <div class="card">
            <div class="message">
              <h2>Список студентів групи П-33</h2>
            </div>
            <form action="/search" method="GET" class="search-form">
              <div class="input-wrapper">
                <i class="bi bi-search search-icon"></i>
                <input
                  class="search-input"
                  type="search"
                  id="search-input"
                  name="query "
                  placeholder="Пошук студентів..."
                />
              </div>
            </form>
            <div class="student-container">
              <!-- <div class="card-row">
                <div class="student-number">1</div>
                <div class="icon-box"><i class="bi bi-person"></i></div>
                <div class="full-name">Кирил Васильович</div>
              </div> -->
            </div>
          </div>
          <div class="card">
            <div class="message"><h2>Статистика групи П-33</h2></div>
            <h2 class="month">Вересень</h2>
            <div class="chart-wrapper">
              <div class="chart-container" style="width: 200px; margin: 0 auto">
                <canvas id="gradesChart"></canvas>
              </div>
              <div class="legend-diagram">
                <div class="legend-row" data-index="0">
                  <div class="legend-color perfectly"></div>
                  <span>Відмінно (10-12 або 5)</span>
                </div>
                <div class="legend-row" data-index="1">
                  <div class="legend-color good"></div>
                  <span>Добре (7-9 або 4)</span>
                </div>
                <div class="legend-row" data-index="2">
                  <div class="legend-color satisfactorily"></div>
                  <span>Задовільно (4-6 або 3)</span>
                </div>
                <div class="legend-row" data-index="3">
                  <div class="legend-color unsatisfactorily"></div>
                  <span>Незадовільно (1-3 або 2)</span>
                </div>
              </div>
            </div>
            <div class="card-info">
              <div class="icon-box"><i class="bi bi-bar-chart-line"></i></div>
              <div class="info-static">Загальна успішність:</div>
              <div class="static-value group-grades"></div>
            </div>
            <div class="card-info">
              <div class="icon-box"><i class="bi bi-eye-slash"></i></div>
              <div class="info-static">Пропуски:</div>
              <div class="static-value group-passes"></div>
            </div>
            <div class="reports">
              <button class="btn report-btn">Експортувати звіт</button>
            </div>
          </div>
          <div class="modal-overlay hidden" id="exportModal">
            <div class="modal-content report-export">
              <button
                class="btn-close-modal"
                aria-label="Закрити модальне вікно"
              >
                <i class="bi bi-x"></i>
              </button>

              <h2 class="modal-title">Експорт звіту</h2>

              <div class="export-type-toggle">
                <input
                  type="radio"
                  id="type-passes"
                  name="report-type"
                  value="passes"
                  checked
                />
                <label for="type-passes">Пропуски</label>

                <input
                  type="radio"
                  id="type-grades"
                  name="report-type"
                  value="grades"
                />
                <label for="type-grades">Успішність</label>
              </div>

              <div class="form-container">
                <div class="form-group">
                  <label for="report-period">Період звіту</label>
                  <select
                    name="report-period"
                    id="report-period"
                    class="select-styled"
                  >
                    <option value="month">Місяць</option>
                    <option value="summary">Зведена</option>
                    <option value="milestone">Рубіж</option>
                    <option value="semester">Семестр</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="report-month">Оберіть дату</label>
                  <select
                    name="report-month"
                    id="report-month"
                    class="select-styled"
                  >
                    <option value="" disabled selected>Оберіть дату...</option>
                  </select>
                </div>
              </div>

              <button class="btn-primary modal-save-btn">
                <i class="bi bi-file-earmark-arrow-down"></i> Експортувати
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/js/teacher-curator.js"></script>
  </body>
</html>
