<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/teacher.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body class="stop-animation">
    <main class="main-content">
      <section id="main" class="content-section">
        <div class="conteiner">
          <h1 class="greeting"></h1>
          <h2 class="date"></h2>
          <div class="schedule-grid"></div>
        </div>
      </section>
    </main>
    <script type="module" src="/js/main-dashbord.js"></script>
  </body>
</html>
